<div class="container">
    <h1>Listado de Categorias</h1>
    <p><button class="btn btn-danger" (click)="nueva_categoria()">Nueva Categoria</button></p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <!--ng es como un foreach-->
        <tbody>
            <!--debe mantener el mismo nombre de los campos tal como esta en la API-->
            <tr *ngFor="let categoria of categoria | async">
                <td>{{categoria.id}}</td>
                <td>{{categoria.nombre}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)=actualizar(categoria.id)>Actualizar</button>
                    <button class="btn btn-sm btn-success" (click)=eliminar(categoria.id)>Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
