<div class="container">
    <h1>Listado de Cursos</h1>
    <button class="btn btn-danger" (click)="cursonuevo()">Nuevo Curso</button>
    <br><br>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Duración</th>
                <th>Costo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <!--ng es como un foreach-->
        <tbody>
            <tr *ngFor="let c of curso | async">
                <td>{{c.id}}</td>
                <td>{{c.nombre}}</td>
                <td>{{c.duracion}}</td>
                <td>{{c.costo}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="actualizarCurso(c.id)">Actualizar</button>
                    <button class="btn btn-sm btn-success" (click)="eliminarCurso(c.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
